# Ignore the following temporary files:
lr.csv
pre_parser.automaton
pre_parser.canonical
pre_parser.dot
pre_parser.follow
pre_parser.pdf
pre_parser.messages
pre_parser.conflicts
handcrafted.messages.bak
